/* Estilo para el contenido de la Pokedex */
ion-content.pokedex-background {
  height: 100%; /* Establece la altura al 100% */
  --background: aquamarine; /* Color de fondo */
}

/* Estilo para las filas */
ion-row {
  display: flex; /* Establece la visualización como flex */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en múltiples líneas */
  margin: 10px; /* Margen exterior */
}

/* Estilo para las tarjetas */
ion-card {
  width: 70%; /* Ancho de la tarjeta */
  height: 70%; /* Altura de la tarjeta */
  border-radius: 10px; /* Borde redondeado */
  background: #f8f8f8; /* Color de fondo */
}

/* Estilo para las imágenes centradas */
.center-image {
  max-width: 100%; /* Ancho máximo */
  max-height: 100%; /* Altura máxima */
}

/* Estilo para los iconos */
ion-icon {
  font-size: 20px; /* Tamaño del icono */
}

/* Estilo para la barra de búsqueda */
ion-searchbar {
  --color: rgb(92, 90, 90); /* Color del texto */
}

/* Estilo para el contenedor de botones */
.button-container {
  display: flex; /* Establece la visualización como flex */
  flex-direction: column; /* Dirección de los elementos en columna */
  align-items: center; /* Alinea los elementos en el centro */
  border-radius: 20%; /* Borde redondeado */
}

/* Estilo para los botones */
.button {
  margin-top: 5px; /* Margen superior */
}

/* Estilo para el icono de búsqueda */
.search-icon {
  margin-top: 10px; /* Margen superior */
  color: #000; /* Color del icono */
}

/* Estilo para la etiqueta de búsqueda */
.label-busqueda {
  color: black; /* Color del texto */
  font-size: 16px; /* Tamaño del texto */
  margin-bottom: 10px; /* Margen inferior */
  align-items: center; /* Alinea los elementos en el centro */
}