@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* Estilo para el contenido de la Pokedex */
ion-content{
  background: #af1b1b;
  --background: url('../../assets/9fa509702fab91b910e82919b5408993.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

ion-toolbar{
  --background: linear-gradient(to bottom, #ff0000, #ffffff);
}

ion-title{
  display: flex;
  text-align: center;
  color: #eeff00;
  font-family: 'Luckiest Guy', sans-serif; /* Usar la fuente Luckiest Guy */
  font-size: 2.5rem; /* Tamaño de fuente más grande */
  font-weight: 700; /* Aumentar el peso de la fuente para hacerla más negrita */
  letter-spacing: 1px; /* Ajustar el espaciado entre letras */
  text-transform: uppercase; /* Convertir el texto a mayúsculas */
  text-shadow: 3px 3px 4px rgb(0, 204, 255); /* Agregar sombra de texto para mejorar la legibilidad */


}
.cont{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Estilo para las tarjetas */
ion-card {
  width: 30%; /* Ancho de la tarjeta */
  height: 300px; /* Altura de la tarjeta */
  border-radius: 10px; /* Borde redondeado */
  background: #292828; /* Color de fondo */
}

/* Estilo para las imágenes centradas */


/* Estilo para los iconos */
ion-icon {
  font-size: 20px; /* Tamaño del icono */
}

/* Estilo para la barra de búsqueda */
ion-searchbar {
  --color: rgb(255, 255, 255);
  --background: #3a8be765; /* Color del texto */
}

/* Estilo para el contenedor de botones */
.button-container {
  display: flex; /* Establece la visualización como flex */
  flex-direction: column; /* Dirección de los elementos en columna */
  align-items: center; /* Alinea los elementos en el centro */
  border-radius: 20%; /* Borde redondeado */
}

/* Estilo para los botones */
.button {
  margin-top: 5px; /* Margen superior */
}

/* Estilo para el icono de búsqueda */
.search-icon {
  margin-top: 10px; /* Margen superior */
  color: #000; /* Color del icono */
}

/* Estilo para la etiqueta de búsqueda */
.label-busqueda {
  color: black; /* Color del texto */
  font-size: 16px; /* Tamaño del texto */
  margin-bottom: 10px; /* Margen inferior */
  align-items: center; /* Alinea los elementos en el centro */
}